.profile {
    .profile-info {
        i {
            display: block;
            width: 75px;
            height: 75px;
            text-align: center;
            line-height: 75px;
            font-size: 40px;
            margin-bottom: 20px;
        }

        .info-box {
            @media(max-width: 767px) {
                padding-top: 25px;
            }
        }
    }

    .blogs-count-box {
        font-size: 25px;
    }

    .my-blogs-list {
        list-style-type: square;
        list-style-position: inside;
    }

    .pagination-box {
        span {
            margin: 0 20px
        }
    }
}